---
layout: default

---

<section class="section-container speaker-page__container">
	</div>
	<header class="section-header section-header__speaker">
<!-- 	<h2>{{ page.title }}</h2>-->
		<div class="inner">
			<img class="speaker-page__image" src="{{site.baseurl}}/assets/graphics/speakers/{{ page.image }}.jpg"></img>
			<div class="speaker-page__right">
				<p class="speaker-page__type">Speaker</p>
				<h2 class="speaker-page__name">{{ page.title }}</h2>
				<p class="speaker-page__company">{{ page.company }}{% if page.role %},{% endif %} {{ page.role }}</p>
			</div>
		</div>
	</header>
	<div class="inner">
		<div class="speaker-page__split">
			{{ content }}
		</div>
</section>

