---
layout: default
header: half

---

</div>
<div class="speaker-color-backing">
	<section class="section-container">
		<header class="section-header"><h2>Speakers</h2></header>
		<div class="section-header__filler"></div>

		<div class="speaker-container">
		{% for s in site.speakers %}
			{% if s.hidden %}
			{% else %}
				<div class="speaker-item">
					<div class="speaker-item__box">
						<div class="speaker-item__image">
							<a href="{{site.basepath}}/speakers/{{s.image}}"><img src="{{site.basepath}}/assets/graphics/speakers/{{s.image}}.jpg"/></a>
						</div>
						<div class="speaker-item__info">
							<a href="{{site.basepath}}/speakers/{{s.image}}"><h3 class="speaker-item__name">{{s.title}}</h3></a>
							<p class="speaker-item__role">{{s.role}}</p>
							<p class="speaker-item__company">{{s.company}}</p>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>

	</section>
</div>
<div class="inner">
