/* ==========================================================================
   Global Navigation
   ========================================================================== */
.page__prime-nav {
	position: fixed;
	z-index: 9999;
	height: 2.5rem;
	padding: 0.5rem 0;
	width: 100%;
	border-bottom: 2px solid $DarkPurp;
	box-shadow: 0 0px 10px $DarkPurp;
	background-color: $Cardinal;
	left: 0;
}

body {
	font-family: "Hind";
}

.page__prime-nav {
}

li {
	list-style: none
}

ul {
	margin: 0;
}

.global-menu {
	max-width: 1000px;
	margin: 0 auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
	li {
		display: inline-block;
	}
	a {
		color: white;
		padding: 0.5rem 0.75rem;
		border-radius: 8px;
		&:hover {
			color: white;
			opacity: 1;
			background-color: rgba(0,0,0,0.2);
		}
		&:active {
			color: white;
		}
		&:focus {
			color: white;
		}
		&:visited {
			color: white;
		}
	}
}

.global-menu__logo {
	vertical-align: middle;
	width: 60px;
	transition: 0.2s all;
	&:hover {
		opacity: 0.7;
	}
}

.global-menu__divider {
	color: rgba(255,255,255,0.4);
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

.inner {
	margin: 0 auto;
	max-width: 1000px;
}

a {
	color: $Cardinal;
	font-weight: 300;
	transition: 0.2s all;
	&:active {
		color: $Golden;
	}
	&:visited {
		color: $Cardinal;
	}
	&:hover {
		color: $Golden;
		opacity: 0.7;
		text-decoration: none;
	}
	&:focus {
		color: $Golden;
	}
}

.full-image__fix {
	height: 38rem;
	max-height: 100%;
	width: 100%;
}

.full-image__container {
	position: absolute;
	top: 0;
	left: 0;
	height: 40rem;
	max-height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(../graphics/content/splash.jpg);
}

.full-fix__half {
	height: 16rem;
}

.full-image__half {
	height: 16rem;
}

.full-image__button {
	z-index: 1;
	background-color: $Orangey;
	color: white;
	font-weight: 100;
	position: absolute;
	bottom: 9rem;
	border: 1px solid darken($Orangey, 10);
	border-radius: 4px;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	padding: 0.75rem 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
	transition: 0.2s all;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
	&:hover {
		background-color: $DarkPurp;
		border-color: $DarkPurp;
	}
	&:focus {
		outline:0;
	}
}

/* ==========================================================================
   Masthead
   ========================================================================== */

.page__masthead {
	z-index: 10;
	top: 4rem;
	position: relative;
	left: 0;
	width: 100%;
	color: white;
}

.masthead-left {
	float: left;
	margin-top: 5rem;
	letter-spacing: 0.5rem;
}

.masthead-right {
	float: right;
	margin-top: 5rem;
	letter-spacing: 0.5rem;
}

.masthead-center {
	position: absolute;
	z-index: 0;
}

.masthead-center {
	top: 4rem;
	position: absolute;
	width: 100%;
	text-align: center;
	img{
		width: 350px;		
	}
}

.page__masthead-filler {
	width: 100%;
	height: 14rem;
}

.masthead-left__half {
	position: absolute;
	top: 5rem;
	color: black;	
}

.masthead-right__half {
	position: absolute;
	top: 5rem;
	right: 0;
	color: black;
}

.masthead-center__half {
	top: 1.25rem;
	img {
		width: 200px;
	}
}

/* ==========================================================================
   Section Headers
   ========================================================================== */

.section-header {
	padding-top: 1.5rem;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.9);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	color: $DarkPurp;
/*	background-image: url(../graphics/content/diagonal.svg);*/
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	h2 {
		font-size: 2rem;
		font-weight: 800;
	}
}

.section-header__filler {
	height: 5.5rem;
	width: 100%;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content__split {
	margin-top: 2rem;
	font-family: "Times New Roman";
	font-size: 1.2rem;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.page__footer {
	background-color: $DarkPurp;
	position: absolute;
	margin-top: 6rem;
	width: 100%;
	left: 0;
}

.footer-credits {
	display: inline-block;
	height: 2rem;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	color: rgba(255,255,255,0.5);
	padding-top: 0.6rem;
}

.copyright {
	float: right;
	margin-left: 2rem;
}

/* ==========================================================================
   Speakers
   ========================================================================== */

.speaker-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
	flex-wrap: wrap;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 0.5rem;
}

.speaker-item {
  width: 350px;
  height: 160px;
  padding: 1.5rem 0rem;
  margin-left: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  &:hover {
  	.speaker-item__image {
	  	img{
	    	-webkit-filter: none;
	    	filter: none;
	  	}
  	}
  }
}

.speaker-item__last {
	border-bottom: 0;
}

.speaker-item__box {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0,0,0,0.4);
	border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: white;
}

.speaker-item__image {
	float: left;
	width: 160px;
	height: 160px;
	border-right: 1px solid rgba(0,0,0,0.3);
	overflow: hidden;
	position: relative;
	z-index: 1;
	cursor: pointer;
  img {
  	display: block;
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
		transition: all 0.4s;
  }
/*	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		content: '';
		pointer-events: none;
		background: linear-gradient(to bottom, rgba($Cardinal, 0.0) 0, rgba($Cardinal, 0.08) 64%, rgba($Cardinal, 0.5) 100%);
	}*/
}

.speaker-item__name {
	font-weight: 800;
	font-size: 1rem;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.speaker-item__info {
	float: left;
	margin: 1rem 0 0 2rem;
	width: 8rem;
	height: 7.75rem;
	position: relative;
	p {
		font-family: "Times New Roman";
		margin: 0;
	}
}

.speaker-item__company {
	padding: 0.25rem 0;
	font-weight: 800;
	line-height: 1.3rem;
}

.speaker-item__role {
	font-size: 0.9rem;
}

.speaker-item__footer {
	position: absolute;
	bottom: 0;
	line-height: 1;
	padding: 0.65rem 0.75rem 0.5rem 0.75rem;
	line-height: 0.75rem;
	border-radius: 6px;
	transition: 0.2s all;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.3);
	font-style: italic;
	&:hover {
		background-color: white;
		border-color: rgba(0,0,0,0.2);
	}
}

.speaker-item__button {
	z-index: 1;
/*	background-color: $Turq;
	color: white;
*/	font-weight: 100;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 4px;
	font-size: 0.75rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
  cursor: pointer;
	transition: 0.2s all;
	&:hover {
		background-color: rgba(0,0,0,0.1);
		border-color: rgba(0,0,0,0.2);
	}
	&:focus {
		outline:0;
	}
}

.collecticon-link-out {
	margin-left: 0.4rem;
}

.speaker-color-backing {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	&::after{
		content: "";
		background-image: url(../graphics/content/newsprint.jpg);
		opacity: 0.8;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}
}

.speaker-page__image {
	height: 250px;
	width: 250px;
	border: 1px solid black;
	margin-bottom: 1rem;
	display: inline-block;
}

.speaker-page__split {
	margin-top: 2rem;
	margin-bottom: 5rem;
	font-family: "Times New Roman";
	font-size: 1.2rem;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.section-header__speaker {
	margin-top: 0;
	position: relative;
	text-align: left;
}

.speaker-page__right {
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5rem;
	h2 {
		font-size: 3rem;
		margin-bottom: 0;
	}
}

.speaker-page__type {
	font-size: 1.5rem;
	font-weight: 100;
	font-style: italic;
	font-family: "Times New Roman";
	opacity: 0.5;
	margin-bottom: 0;
}

.speaker-page__company {
	font-size: 1.4rem;
	color: $MidGrey;
	font-family: "Times New Roman";
}

/* ==========================================================================
   Events
   ========================================================================== */
.event-container {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding-bottom: 6rem;
	padding-top: 1.5rem;
	&::after{
		content: "";
		background-image: url(../graphics/content/newsprint.jpg);
		opacity: 0.8;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}
}

.event-item {
	background-color: white;
	border: 1px solid rgba(0,0,0,0.4);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	margin: 0.5rem 0;
}

.event-time {
	padding-left: 1rem;
	padding-top: 1.5rem;
	font-style: italic;
	display: inline-block;
	font-weight: 400;
	color: $DarkPurp;
}

.event-time__full {
	width: 100%;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.event-time__ops {
	width: 8rem;
	margin: 0;
	padding: 2rem 0 2rem 1rem;
}

.event-title {
	font-weight: 800;
	display: inline-block;
}

.event-title__ops {
	margin-top: 0;
	padding: 2rem;
	width: 10rem;
	background-image: url(../graphics/content/diagonal.svg);
}

.event-location {
	padding-top: 1rem;
	display: inline-block;
}

.event-location__ops {
	padding-left: 2rem;
}

.event-duration {
	font-style: italic;
	opacity: 0.5;
	display: inline-block;
	margin-left: 3rem;
}

.event-description {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: "Times New Roman";
}

.event-details {
	background-image: url(../graphics/content/diagonal.svg);
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.event-details header {
	margin-bottom: 0.5rem;
}

.event-details__split {
	display: flex;
	padding-bottom: 0;
}

.event-details__a {
	flex: 1;
	width: 50%;
	float: left;
	padding-bottom: 2rem;
}

.event-details__b {
	flex: 1;
 	border-left: 1px solid rgba(0,0,0,0.2);
	width: 50%;
	float: right;
	padding-left: 2rem;
}

.event-details__sub {
	padding-right: 4rem;
}

.event-title a {
	font-weight: 800;
}
