/* ==========================================================================
   Footer
   ========================================================================== */

.page__footer {
	border-top: 2px solid darken($DarkPurp, 20);
	background-color: $DarkPurp;
	position: absolute;
	width: 100%;
	left: 0;
}

.footer-credits {
	display: inline-block;
	height: 2rem;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	color: rgba(255,255,255,0.5);
	padding-top: 0.6rem;
	text-align: center;
	margin-top: 2rem;
}

.footer-title {
	color: rgba(255,255,255,0.8);
	margin-top: 2rem;
	font-size: 1.5rem;
}

.copyright {
}

.footer-contact {
	margin-top: 4rem;
	text-align: center;
}
