/* ==========================================================================
   Speakers
   ========================================================================== */

.speaker-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
	flex-wrap: wrap;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 0.5rem;
}

.speaker-item {
  width: 350px;
  height: 160px;
  padding: 1.5rem 0rem;
  margin-left: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  &:hover {
  	.speaker-item__image {
	  	img{
	    	-webkit-filter: none;
	    	filter: none;
	  	}
  	}
  }
}

.speaker-item__last {
	border-bottom: 0;
}

.speaker-item__box {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0,0,0,0.4);
	border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: white;
}

.speaker-item__image {
	float: left;
	width: 160px;
	height: 160px;
	border-right: 1px solid rgba(0,0,0,0.3);
	overflow: hidden;
	position: relative;
	z-index: 1;
	cursor: pointer;
  img {
  	display: block;
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
		transition: all 0.4s;
  }
}

.speaker-item__name {
	font-weight: 800;
	font-size: 1rem;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.speaker-item__info {
	float: left;
	margin: 1rem 0 0 2rem;
	width: 8rem;
	height: 7.75rem;
	position: relative;
	p {
		font-family: "Times New Roman";
		margin: 0;
	}
}

.speaker-item__company {
	padding: 0.25rem 0;
	font-weight: 800;
	line-height: 1.3rem;
}

.speaker-item__role {
	font-size: 0.9rem;
}

.speaker-item__footer {
	position: absolute;
	bottom: 0;
	line-height: 1;
	padding: 0.65rem 0.75rem 0.5rem 0.75rem;
	line-height: 0.75rem;
	border-radius: 6px;
	transition: 0.2s all;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.3);
	font-style: italic;
	&:hover {
		background-color: white;
		border-color: rgba(0,0,0,0.2);
	}
}

.speaker-item__button {
	z-index: 1;
	font-weight: 100;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 4px;
	font-size: 0.75rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
  cursor: pointer;
	transition: 0.2s all;
	&:hover {
		background-color: rgba(0,0,0,0.1);
		border-color: rgba(0,0,0,0.2);
	}
	&:focus {
		outline:0;
	}
}

.collecticon-link-out {
	margin-left: 0.4rem;
}

.speaker-color-backing {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	&::after{
		content: "";
		background-image: url(../graphics/content/newsprint.jpg);
		opacity: 0.8;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
	}
}

.speaker-page__image {
	height: 250px;
	width: 250px;
	border: 1px solid black;
	margin: 0 auto 1rem;
	display: block;
	@media screen and (min-width: 700px) {
		display: inline-block;
		margin: 0 0 1rem 0;
	}
}

.speaker-page__split {
	font-family: "Times New Roman";
	font-size: 1.2rem;
	max-width: 80%;
	margin: 2rem auto 5rem;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
	@media screen and (min-width: 700px) {
	  -webkit-column-count: 2; /* Chrome, Safari, Opera */
	  -moz-column-count: 2; /* Firefox */
	  column-count: 2;
    -webkit-column-gap: 3rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 3rem; /* Firefox */
    column-gap: 3rem;
	  width: 100%;
	  margin: 2rem 0 5rem;
	}
}

.section-header__speaker {
	margin-top: 0;
	position: relative;
	text-align: left;
}

.speaker-page__right {
	display: block;
	vertical-align: top;
	width: 80%;
	margin: 0 auto;
	h2 {
		font-size: 3rem;
		margin-bottom: 0;
	}
	@media screen and (min-width: 700px) {
		display: inline-block;
		width: auto;
		margin-left: 1.5rem;
	}	
}

.speaker-page__type {
	font-size: 1.5rem;
	font-weight: 100;
	font-style: italic;
	font-family: "Times New Roman";
	opacity: 0.5;
	margin-bottom: 0;
}

.speaker-page__company {
	font-size: 1.4rem;
	color: $MidGrey;
	font-family: "Times New Roman";
}
