<footer class="page__footer" role="contentinfo">
  <div class="inner">
  	<section class="footer-contact">
	  	<img src="{{ site.baseurl }}/assets/graphics/content/mail-us.png" class="mail-bird"></img>
			<h3 class="footer-title">
				Get in Touch!
				<p><a href="http://www.dailycardinal.net/" title="Visit DCCA website">Daily Cardinal Alumni Association</a></p>
			</h3>
		</section>
  </div>
  <div class="footer-credits">
  	<div class="inner">
	  	<span class="copyright">&copy; {{ site.time | date: '%Y' }}</span>
  	</div>
  </div>
</footer>

<!-- build:js /assets/scripts/vendor.js -->
<script src="/assets/scripts/vendor.js"></script>
<!-- endbuild -->
<!-- build:js /assets/scripts/bundle.js -->
<script src="/assets/scripts/bundle.js"></script>
<!-- endbuild -->
