<section class="section-container">
	<header class="section-header"><h2>Code of Conduct</h2></header>
	<div class="section-header__filler"></div>
	<div class="content__split">
		<p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices.</p>

		<p>We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media.</p>

		<p>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>

		<p>-Via <a href="http://confcodeofconduct.com/">Conference Code of Conduct</a></p>
	</div>
</section>

<footer class="page__footer" role="contentinfo">
  <div class="inner">
		<h3 class="footer-title">Get in Touch</h3>
		<p>[Insert Graphic of maaail]</p>
  </div>
  <div class="footer-credits">
  	<div class="inner">
	  	<a href="http://www.dailycardinal.net/" title="Visit DCCA website">Daily Cardinal Alumni Association</a>
	  	<span class="copyright">&copy; 2015-{{ site.time | date: '%Y' }}</span>
  	</div>
  </div>
</footer>

<!-- build:js /assets/scripts/vendor.js -->
<script src="/assets/scripts/vendor.js"></script>
<!-- endbuild -->
<!-- build:js /assets/scripts/bundle.js -->
<script src="/assets/scripts/bundle.js"></script>
<!-- endbuild -->
