<header>
  <nav class="page__prime-nav" role="navigation">
    <div class="menu-wrapper" data-hook="global-menu:wrapper">
      <ul class="global-menu" id="global-menu">
        <li><h1><a href="{{ site.basepath }}/"><img src="{{site.basepath}}/assets/graphics/content/clean_logo.svg" class="global-menu__logo"/></a></h1></li>
<!--         <li><a href="{{ site.basepath }}/history" title="View page" class="global-menu__link"><span>Our History</span></a></li>
        <li class="global-menu__divider">|</li> -->
        <li><a href="{{ site.basepath }}/agenda" title="View page" class="global-menu__link"><span>Agenda</span></a></li>
        <li class="global-menu__divider">|</li>
        <li><a href="{{ site.basepath }}/speakers" title="View page" class="global-menu__link"><span>Speakers</span></a></li>
        <li class="global-menu__divider">|</li>
        <li><a href="{{ site.basepath }}/gala" title="View page" class="global-menu__link"><span>Alumni Gala</span></a></li>
        <li class="global-menu__divider">|</li>
        <li><a href="http://events.r20.constantcontact.com/register/event?oeidk=a07edpk6ip4640310ca&llr=mw67ludab" title="View page" class="global-menu__link"><span>Register</span></a></li>
<!--         <li class="global-menu__divider">|</li>
        <li><a href="{{ site.basepath }}/donate" title="View section" class="global-menu__link"><span>Donate</span></a></li>
 -->        <span class="stretch"></span>
      </ul>
    </div>
  </nav>

  <nav class="page__resp-nav" role="navigation">
    <div class="menu-wrapper" data-hook="global-menu:wrapper">
      <h1><a href="{{ site.basepath }}/"><img src="{{site.basepath}}/assets/graphics/content/clean_logo.svg" class="global-menu__logo"/></a></h1>

      <i class="collecticon collecticon-hamburger-menu"></i>

      <br/>

      <ul class="sub-menu hidden" id="sub-menu">
        <a href="{{ site.basepath }}/agenda" title="View page" class="global-menu__link"><li><span>Agenda</span></li></a>
        <a href="{{ site.basepath }}/speakers" title="View page" class="global-menu__link"><li><span>Speakers</span></li></a>
        <a href="{{ site.basepath }}/gala" title="View page" class="global-menu__link"><li><span>Alumni Gala</span></li></a>
        <a href="http://events.r20.constantcontact.com/register/event?oeidk=a07edpk6ip4640310ca&llr=mw67ludab" title="View page" class="global-menu__link"><li><span>RSVP Gala</span></li></a>
        <a href="{{ site.basepath }}/talks" title="View page" class="global-menu__link"><li><span>RSVP Talks</span></li></a>
<!--         <a href="{{ site.basepath }}/donate" title="View section" class="global-menu__link"><li><span>Donate</span></li></a>
 -->      </ul>

    </div>
  </nav>
</header>

<div class="page__masthead">
  <div class="inner">
  <div class="masthead-left">
    Madison, WI
  </div>
  <div class="masthead-center masthead-center__{{page.header}}">
    <img src='{{site.basepath}}/assets/graphics/content/logo.svg'/>
  </div>
  <div class="masthead-right">
    April 1, 2017
  </div>
  </div>
</div>

<div class="full-image__fix full-fix__{{page.header}}"></div>
<div class="full-image__container full-image__{{page.header}}">
  {% if page.header == 'full' %}
  <button class="full-image__button">Join the Party</button>
  {% endif %}
</div>
